body {  
	@include gradient(#fff, #ddd);
	border-top: 5px solid $dark-blue;
	min-height: 550px;
}
header {
	padding: 0;
	margin: 0 0 5px 0;
	position: relative;
	z-index: 20;
	
	#logo {
		margin: 13px 3% 0 0;
		width: auto;
		max-width: 24%;
		float: left;
		padding-left: 65px;
		@include img('logo.png', 0 6px);

		h1 {
			@include logo-font-headline(42pt, #123E71);
			font-weight: bold;

			span {
				color: #0660b7;
			}
		}
		.tagline {
			font-size: 12px;
			display: block;
			width: 100%;
			color: #000;
			margin: -3px 0 0 1px;
			line-height: 1;
		}
	}
}
#wrapper { 
	width: 100%; 
	max-width: percentage(960px / 1275px); 
	margin: 20px auto 7px; 
}
#social{
	width: 20%;
	position: absolute;
	right: 7%;
	top: 0%;

	.content{
		display: none;
		background: $dark-blue;
		height: 250px;	
		overflow: hidden;
		position: relative;
		z-index: 9999;
		
		& > img {
			border-top: 1px solid #003573;
			padding: 10px 25px 10px 10px;
		}

		#search {
			width: 75%;
			position: relative;
			border-bottom: 1px solid #000;
			padding: 5px 35px 10px;
			margin: 10px auto 0;

			p {
				width: 100%;

				input {
					padding: 7px 2%;
					border: 1px solid #000;
					font-size: 10pt;
				}
				#s {
					width: 63%;
				}
				#submit {
					color: #fff;
					width: 27%;
					background: $light-blue;

					&:hover {
						background: darken($light-blue, 10%);
						cursor: pointer;
					}
				}
			}
		}
		#social-sprite{
			position: relative;
			width: 89%;
			margin: 0 auto;

			li {
				float: left;
				margin-right: 15.66%;
				overflow: hidden;
				position: relative;

				a {
					color: #fff;
					display: block;
					height: 50px;
					overflow: hidden;
					//text-indent: -9999px;
				}
				&.twitter{
					width: 56px;
					a{
						//@include img($img-path + 'social_sprite.png', 0);
						//background-position: 0 0;
					}
				}
				&.facebook {
					width: 50px;
					 a {
						//@include img($img-path + 'social_sprite.png', 0);
						//background-position: -54px 0;
					}
				}
				&.gp{
					width: 50px;
					a{
						//@include img($img-path + 'social_sprite.png', 0);
						//background-position: -76px 0;
					}
				}
			}
			li:last-child{
				margin-right: 0;
			}
		}
	}
	.trigger{
		color: #fff;
		@include img('social_sprite1.png', 16px 12px);
		background-color: $dark-blue;
		height: 40px;
		display: block;
		width: 150px;
		font-weight: bold;
		text-align: center;
		float: right;
		line-height: 2.5;
		z-index: 1000;
		position: relative;
	}
}
#body, #blog, #sidebar {
	padding: 23px 10px;
	box-sizing: border-box;
}
#sidebar {
	width: 24%;
	min-height: 400px;
	float: right;
	background: #fff;
	border-radius: 0 7px 7px 0;
	@import 'elements/search';
}
#navigation-footer {
	display: block;
	margin: 0 auto 40px;
	width: 50%;
	
	li {
		float: left;
		margin: 0 2% 0 0;
		a {
			color: $light-blue;
		}
	}
}